@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
* {
    box-sizing: border-box; /* 適用於所有元素 */
  }
.container {
    margin: 100px 165px 100px 165px;
}
.up {
    display: flex;
    justify-content: space-between;
}
.down {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
body {
    background-image: url('./images/bg-pattern-bottom-desktop.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh; /* 確保背景覆蓋整個視窗高度 */
    font-family: "League Spartan", sans-serif;
}
h1 {
    color: hsl(300, 43%, 22%);
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 50px;
    font-weight: 700;
}
.title {
    color: hsl(303, 10%, 53%);
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    padding-top: 10px;
}
.all-stars {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: flex-start;
    margin-top: 20px;
}
.stars-box {
    display: flex;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    width: 445px;
    height: 55px;
    border-radius: 10px;
    padding-left: 30px;
}
.box1 {
    margin-left: 15px;
    margin-bottom: 20px;
}
.box2 {
    margin-left: 65px;
    margin-bottom: 20px;
}
.box3 {
    margin-left: 130px;
}
.stars {
    padding-right: 5px;
}
.star-text {
    color: hsl(300, 43%, 22%);
    font-size: 15px;
    padding-left: 30px;
    font-weight: 700;
}
.avatar-box {
    background-color: hsl(300, 43%, 22%);
    width: 350px;
    height: 235px;
    border-radius: 8px;
    padding: 40px 25px 40px 25px;
}
.avatar {
    font-size: 15px;
    display: flex;
    align-items: center;
}
.avatar-img {
    border-radius: 50px;
    height: 50px;
}
.name {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}
.name-up {
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.name-down {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}
.text {
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}
.a1 {
    margin-right: 20px;
}
.a2 {
    margin-right: 20px;
    margin-top: 20px;
}
.a3 {
    margin-top: 40px;
}
@media screen and (max-width: 375px) {
    .container {
        margin: 80px 25px 80px 25px;
    }
    .up {
        display: flex;
        flex-direction: column;
    }
    .down {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    body {
        background-image: url(./images/bg-pattern-top-mobile.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    h1 {
        text-align: center;
        font-size: 40px;
        line-height: 35px;
    }
    .stars-box {
        display: flex;
        flex-direction: column;
        width: 325px;
        height: 80px;
        justify-content: center;
        padding-left: 0px;
    }
    .star-text {
        padding-left: 0px;
        padding-top: 10px;
    }
    .box1 {
        margin-left: 0px;
    }
    .box2 {
        margin-left: 0px;
    }
    .box3 {
        margin-left: 0px;
    }
    .title {
        text-align: center;
    }
    .avatar-box {
        width: 325px;
        height: 250px;
    }
    .a1 {
        margin-right: 0px;
    }
    .a2 {
        margin-right: 0px;
        margin-top: 15px;
    }
    .a3 {
        margin-top: 15px;
        margin-bottom: 80px;
    }


}